.btn {
  padding: 10px 80px;
  border-radius: 30px;
  background-color: var(--color2);
  display: flex;
  align-items: center;
  border: none;
  margin-right: 20px;
  transition: background-color .2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color4)
}

.icon {
  margin-right: 20px;
}

.text {
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}