.input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input label {
  font-weight: bold;
  margin-right: 20px;
}

.input input {
  width: 4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 20px;
}